* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
}

img{
    content: url("../assets/images/cat1.jpg");
    width: 100vw;
    height: auto;
    align-content: center;
}
/* small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    img{
        content: url("../assets/images/cat2.jpg");
    }
}

/* medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    img{
        content: url("../assets/images/cat3.jpg");
    }
}
/* large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    img{
        content: url("../assets/images/cat4.jpg");
    }
}
/* extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    img{
        content: url("../assets/images/cat5.jpg");
    }
}